@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts/fonts.css";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
}